@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,800&display=swap');
*

{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body
{
  background: #DCDCDC;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
.container
{
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background: whitesmoke;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0,0,0,0.1)
}
.container .left_Side
{
  position: relative;
  background: #2F4F4F;
  padding: 40px;
}
.profileAbout
{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}
.profileAbout .profileImg
{
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.profileAbout .profileImg img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profileAbout h1
{
  color: white;
  font-size: 2em;
  margin-top: 20px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1,1em;
}
.infoContact
{
padding-top: 30px;
margin-bottom: 30px;
}
.title
{
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.infoContact ul
{
  position: relative;
}
.infoContact ul li
{
  list-style: none;
  position: relative;
  margin: 15px 0;
  cursor: pointer;
}
.infoContact ul li .icon
{
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #DCDCDC;
}
.infoContact ul li span
{
  color: white;
  font-weight: 600;
}
.infoContact.personal ul li
{
  color: white;
  font-weight: 600;
}
.infoContact.personal
{
  margin-bottom: 30px;
  color: white;
}
.infoContact.languages
{
  margin-bottom: 30px;
  color: white;
  font-weight: 600;
}
.infoContact.interests
{
  margin-bottom: 0px;
  letter-spacing: 12px;
}
.container .right_Side
{
  position: relative;
  background: whitesmoke;
  padding: 40px;
}
.about
{
  margin-bottom: 50px;
  padding-bottom: 40px;
  border-bottom: 1px solid #2F4F4F;
}
.title2
{
  color: #2F4F4F;
  margin-bottom: 20px;
}
.skills
{
  margin-left: 15px;
  color: #2F4F4F;
  text-transform: uppercase;
  font-weight: 600;
}
.skills ul li
{
  margin-bottom: 15px;
}
.education
{
  margin-left: 15px;
  color: #2F4F4F;
  font-weight: 600;
}
.education ul li
{
  margin-bottom: 15px;
}
.code
{
  background-color: #2F4F4F;
  background-position: center;
  font-weight: 600;
  color: white;
}